/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.mainsail-icon{color:#006fba;display:inline-flex;align-items:center;align-content:center}.mainsail-icon svg{vertical-align:middle;align-self:center}.mainsail-icon.sm{color:inherit}.mainsail-icon.sm svg{height:12px;width:12px}.mainsail-icon.md{color:inherit}.mainsail-icon.md svg{height:16px;width:16px}.mainsail-icon.lg{color:inherit}.mainsail-icon.lg svg{height:32px;width:32px}.mainsail-icon.default{color:#006fba}.mainsail-icon.dark{color:#003462}.mainsail-icon.light{color:#e3f2fa}

.spinner{display:flex;width:auto;text-align:center}.spinner>*+*{margin-left:1px}.spinner.default{color:#006fba}.spinner.dark{color:#003462}.spinner.light{color:#e3f2fa}.spinner>div{width:8px;height:8px;background-color:currentColor;border-radius:100%;display:inline-block;animation:sk-bouncedelay 1.4s infinite ease-in-out both}.spinner .bounce1{animation-delay:-0.32s}.spinner .bounce2{animation-delay:-0.16s}@keyframes sk-bouncedelay{0%,80%,100%{transform:scale(0)}40%{transform:scale(1)}}

button.mainsail-button{font-family:"Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;font-style:normal;font-weight:500;font-size:16px;line-height:18px;position:relative;display:inline-flex;-webkit-appearance:none;-moz-appearance:none;appearance:none;align-items:center;justify-content:center;-webkit-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;vertical-align:middle;transition:all 250ms;outline:none;border:1px solid transparent;border-radius:4px;box-shadow:0px 2px 8px -2px rgba(0,52,98,0.3);padding:10px !important;cursor:pointer}button.mainsail-button>*+*{margin-left:8px !important}button.mainsail-button .spinner{color:currentColor}button.mainsail-button .mainsail-icon{color:currentColor}button.mainsail-button .mainsail-icon svg{width:16px;height:16px}button.mainsail-button.primary{color:#e3f2fa;border-color:#006fba;background:#006fba}button.mainsail-button.primary:hover{border-color:#003462;background:#003462;color:#e3f2fa}button.mainsail-button.primary:active{box-shadow:0px 0px 2px 1px rgba(0,111,186,0.5)}button.mainsail-button.primary:disabled{box-shadow:none;opacity:0.3;cursor:not-allowed}button.mainsail-button.primary:disabled:hover{color:#e3f2fa;border-color:#006fba;background:#006fba}button.mainsail-button.secondary{color:#003462;border-color:#003462;background:#fff}button.mainsail-button.secondary:hover{background:#e3f2fa}button.mainsail-button.secondary:active{box-shadow:0px 0px 2px 1px rgba(0,111,186,0.5)}button.mainsail-button.secondary:disabled{box-shadow:none;opacity:0.3;cursor:not-allowed}button.mainsail-button.secondary:disabled:hover{color:#003462;border-color:#003462;background:#fff}button.mainsail-button.tertiary{color:#003462;border:0;box-shadow:none;background:none;background-color:transparent}button.mainsail-button.tertiary.close{position:absolute}button.mainsail-button.tertiary:hover{color:#006fba}button.mainsail-button.tertiary:active{box-shadow:0px 0px 2px 1px rgba(0,111,186,0.5)}button.mainsail-button.tertiary:disabled{box-shadow:none;opacity:0.3;cursor:not-allowed}button.mainsail-button.tertiary:disabled:hover{color:#003462;box-shadow:none;background:none;background-color:transparent}button.mainsail-button.action{height:26px;padding:4px 10px;border:0;box-shadow:0px 2px 8px -2px rgba(0,52,98,0.3);border-radius:20px;background:#e3f2fa;color:#003462}button.mainsail-button.action:hover{border-color:#003462;color:#006fba;box-shadow:none}button.mainsail-button.action:active{box-shadow:0px 0px 2px 1px rgba(0,111,186,0.5);color:#006fba}button.mainsail-button.action:disabled{box-shadow:none;opacity:0.3;cursor:not-allowed}button.mainsail-button.action:disabled:hover{color:#003462;background:#fff}button.mainsail-button.link{font-style:normal;font-weight:normal;font-size:12px;line-height:16px;color:#006fba;border:transparent;background:none;box-shadow:none;padding:0 !important;margin:0;height:auto}button.mainsail-button.link svg{color:#006fba;width:12px}button.mainsail-button.link:hover{text-decoration:underline}button.mainsail-button.link:disabled{box-shadow:none;opacity:0.3;cursor:not-allowed}button.mainsail-button.link:disabled:hover{color:#003462;background:#fff}button.mainsail-button.icon{color:#006fba;background:none;box-shadow:none}button.mainsail-button.icon:hover{background:#e3f2fa;border-radius:8px}button.mainsail-button:hover{box-shadow:none}button.mainsail-button:focus{outline:5px auto #006fba}button.mainsail-button.small{font-family:"Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;font-style:normal;font-weight:500;font-size:12px;line-height:18px}button.mainsail-button.full-width{width:100%}


/*# sourceMappingURL=main.5d544eef.chunk.css.map*/